@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Fredoka:wght@600&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
html, body {
    background-color: #CEF0E6;
    margin: 0;
    padding:0;
    height: 100%;
    font-size:100%;
}

#quizPage{
    background-color: #CEF0E6;
}


#email{
  height: 200%;  
}

header{
height:100%;
}

/* menu bar code */
h1 {
    background-color: #003B7C;
    color: #F5F5F5;
    text-align: center;
    font-family: "audiowide", sans-serif;
    border: 0 solid #003B7C;
    padding: 0.5%;
    margin: 0;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 25;
    letter-spacing: 2.5px;
    position: relative
}

div.menu-box {
    height: 100%;
    aspect-ratio: 1/1;
    background-color:#003B7C;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 2;
}

div.menu-box-open{
    height: 100%;
    aspect-ratio: 1/1;
    background-color:#C3E8D5;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 3;
}

.material-symbols-outlined {
    font-size: 120%;
    position: absolute;
    padding: 15%;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    text-align: center;
    margin: 0;
}

  span.menuEcon{
  color:#000000;
  z-index: 4;  
}

#menu {
    size: 100%;
}

p,
ol {
    color: #d9d2e9ff;
    font-size: 1.1em;
    margin-top: 1.65em;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 3.3em;
}

#menuBar {
    position: absolute;
    background-color: #C3E8D5;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    z-index: 2;
    display: none;
    padding-top: 7%;
}

#menuBars {
    position: absolute;
    background-color: #C3E8D5;
    top: 0;
    left: 0;
    height: 167%;
    width: 15%;
    z-index: 2;
    display: none;
    padding-top: 7%;
}

#menuBarss {
    position: absolute;
    background-color: #C3E8D5;
    top: 0;
    left: 0;
    height: 100%;
    width: 15%;
    z-index: 2;
    display: none;
    padding-top: 7%;
}
 
.menu-link {
    font-size: 140%;
    font-weight: 400;
    margin-left: 10%;
    color: black;
    font-family: "fredoka", sans-serif;
    text-decoration: none;
}

.menu-lint {
    font-size: 180%;
    font-weight: 600;
    margin-left: 10%;
    color: black;
    font-family: "audiowide", sans-serif;
    text-decoration: none;
}

.menu-link:hover,
.header-link:hover {
    color: #4F8726FF;
}

.menu-lint:hover,
.header-lint:hover {
    color: #4F8726FF;
}

h4 {
    color: black;
    font-weight: 600;
    font-size: 180%;
    margin-left: 10%;
    font-family: "audiowide", sans-serif;
    text-decoration: none;
    margin-top: 5%;
    margin-bottom: 1%;
    padding: 0%;
}

.current-link {
    font-size: 1em;
    margin-left: 10%;
    color: #636363;
    font-family: "fredoka", sans-serif;
    text-decoration: none;
    margin-top: -10%;
    margin-bottom: -10%;
    font-weight: 600;
    padding: 0%;
}

.current-link2 {
    font-size: 1em;
    margin-left: 10%;
    color: #636363;
    font-family: "audiowide", sans-serif;
    text-decoration: none;
    margin-top: -10%;
    margin-bottom: -10%;
    font-weight: 600;
    padding: 0%;
}

/* menu bar code ends */

/* front page code */
.rectangle {
    width: 35%;
    height: 36.5%;
    background-color: #003B7C;
    border: 1cm 1cm 1cm 1cm;
    position: absolute;
    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3.25px solid black;
}

.imgMask{
    height:42.5%;
    width:22.5%;
    position:absolute;
    top:35%;
    left:5%;
    z-index:1;
}

.imgVirus{
    height:42%;
    width:22.5%;
    position:absolute;
    top:35%;
    right:2.5%;
    z-index:1;
}

img{
    opacity: 100%;    
}

h6{
    color: #F5F5F5;
    text-align: center;
    font-family: "audiowide", sans-serif;
    padding-top:2.5%;
    margin: 0;
    font-size: 420%;
    text-transform: uppercase;
    font-weight: 25;
    letter-spacing: 2.5px;
}

/* front page code ends here */

/* main page code */

h2{
    font-family: "audiowide", sans-serif;
    font-size: 620%;
    margin-top:2%;
    text-align:center;
    margin-bottom: 12%;
    z-index:3;    
}


.title-text{    
    color: rgb(0, 0, 0);
    font-family: "fredoka", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:150%;
    text-align:center;
    margin-top:0%;
    margin-bottom:0%;
}


.credit-text-right{    
    color: rgb(0, 0, 0);
    font-family: "fredoka", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:150%;
    margin:0%;
    position: absolute;
    left:67%;
    top:112%
}

.credit-text-left{    
    color: rgb(0, 0, 0);
    font-family: "fredoka", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:150%;
    margin:0%;
    position: absolute;
    right:67%;
    top:72%
}

.credit-text-left2{    
    color: rgb(0, 0, 0);
    font-family: "fredoka", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size:150%;
    margin:0%;
    position: absolute;
    right:67%;
    top:152%
}

a{
text-decoration: none;
}

/* How I centered my main peices of text and put where they go */

.rectangle2 {
    width: 39%;
    height: 1cm;
    position: absolute;
    top:44%;
    right:5%;
    z-index:1;   
}

.rectangle3 {
    width: 39%;
    height: 1cm;
    position: absolute;
    top:83.5%;
    left:5%;
    z-index:1;
}

.rectangle4 {
    width: 39%;
    height: 1cm;
    position: absolute;
    top:126%;
    right:5%;
    z-index:1;
}

.rectangle5 {
    width: 39%;
    height: 1cm;
    position: absolute;
    top:168%;
    left:5%;
    z-index:1;
}

.rectangle6 {
    width: 39%;
    height: 1cm;
    position: absolute;
    top:44%;
    right:5%;
    z-index:1;   
}

.rectangle7 {
    width: 39%;
    height: 1cm;
    position: absolute;
    top:77.5%;
    left:5%;
    z-index:1;
}

.rectangle8 {
    width: 39%;
    height: 1cm;
    position: absolute;
    top:117%;
    right:5%;
    z-index:1;
}

.rectangle9 {
    width: 39%;
    height: 1cm;
    position: absolute;
    top:164%;
    left:5%;
    z-index:1;
}

h3 {
    z-index: 2;
    top:3cm;
    top:5cm;
    margin:0;
    text-align:center;
    width: -60%;
    height: 5%;
    font-family: 'Open Sans';
}
/* ends here */
.email_images1{
    position:absolute;
    top:35%;
    left:6.5%;
    margin-right:0%;
    margin-left:0%;
    width:auto; 
    height:35%;
}

.email_images2{
    position:absolute;
    top:73.5%;
    right:6.5%;
    margin-right:0%;
    margin-left:22cm;
    width:auto; 
    height:37%;
}

.email_images3{
    position:absolute;
    top:116%;
    left:5%;
    margin-right:22cm;
    margin-left:0%;
    width:auto; 
    height:35%;
}

.email_images4{
    position:absolute;
    top:153%;
    right:5%;
    margin-right:0%;
    margin-left:22cm;
    width:auto; 
    height:35%;
}

.text_images1{
    position:absolute;
    top:35%;
    left:6.5%;
    margin-right:0%;
    margin-left:0%;
    width:auto; 
    height:35%;
}

.text_images2{
    position:absolute;
    top:73.5%;
    right:6.5%;
    margin-right:0%;
    margin-left:22cm;
    width:auto; 
    height:37%;
}

.text_images3{
    position:absolute;
    top:110%;
    left:5%;
    margin-right:22cm;
    margin-left:0%;
    width:auto; 
    height:40%;
}

.text_images4{
    position:absolute;
    top:140.5%;
    right:6.5%;
    margin-right:0%;
    margin-left:22cm;
    width:auto; 
    height:40%;
}



/* main page code ends here */
/* footer code */
footer {
    background-color: #C3E8D5;
    text-align: center;
    font-family: "fredoka", sans-serif;
    font-size: 118.1%;
    margin-top: 5%;
    padding: 1%;
}

.footer2 {
    background-color: #C3E8D5;
    text-align: center;
    font-family: "fredoka", sans-serif;
    font-size: 118.1%;
    margin-top: 5%;
    z-index:2;
    position: relative;
}

.italic-text {
        font-style: italic;
}
/* footer code ends */

/* quiz code starts */
.question{
  font-weight: 600%;
  margin-top: 0%;  
  font-size:300%;
  margin-left:0%;
  z-index:3;
  font-family: 'fredoka','sans-serif';
  text-align: center;
}

.answers {
    margin-bottom: 1.5%;
    margin-top: 1.5%; 
    font-size:200%;
    margin-left:0%;
    z-index:3;
    font-family: 'Open Sans';
    text-align: center;
}

#submit{
  font-family: 'fredoka','sans-serif';
  font-size: 80%;
  background-color: #297;
  color: #fff;
  border: 0px;
  border-radius: 0%;
  padding: 2%;
  cursor: pointer;
  margin-bottom: 0%;
  margin-top: 0%;
  margin-left:46%;
  z-index:3;
}

#submit:hover{
  background-color: #3a8;
}

#results{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 260%;
    margin-left:45%;
}

/* quiz code ends */

/* sizing for different screen sizes*/
@media only screen and (max-width: 3256px) {
    #menuBar {
        padding-top: 7%;
    }
h6 {
    font-size: 500%;
}
h2{
margin-bottom: 2%; 
}
}
@media only screen and (max-width: 1856px) {
    #menuBar {
        padding-top: 9%;
    }
    #menuBars {
        padding-top: 9%;
        height: 160%;
    }
    #menuBarss {
        padding-top: 9%;
    }
h2{
margin-bottom: 2%; 
}
}

@media only screen and (max-width: 1750px) {
#menuBar {
        padding-top: 7%;
}
#menuBars {
        padding-top: 7%;
}
#menuBarss {
        padding-top: 7%;
}
h6 {
    font-size: 320%;
}
.question{
    font-size:100%;    
}
.answers {
    font-size:85%;
}
h2{
font-size: 350%;
margin-bottom: 2%; 
}
}

@media only screen and (max-width: 1250px) {
    #menuBar {
        padding-top: 9%;
        width: 22%;
    }
    #menuBars {
        padding-top: 9%;
        width: 22%;
    }
    #menuBarss {
        padding-top: 9%;
        width: 22%;
    }
    #email {
    font-size:90%;
}

h6 {
    font-size: 280%;
}
}

@media only screen and (max-width: 1080px) {
    #menuBar {
        padding-top: 10%;
    }
    #menuBars {
        padding-top: 10%;
    }
    #menuBarss {
        padding-top: 10%;
    }
#email {
    font-size:85%;
}
h6 {
    font-size: 240%;
}
}
@media only screen and (max-width: 995px) {
        div.menu_box {
            height: 120%;
            width: 20%;
            aspect-ratio: 1/1;
            background-color:#003B7C;
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
    }
    h1 {
        font-size: 3em;
    }
    #menuBar {
        padding-top: 10%;
        width: 20%;
    }
    #menuBars {
        padding-top: 10%;
    }
    #menuBarss {
        padding-top: 10%;
    }
}

@media only screen and (max-width: 855px) {
    #menuBar {
        padding-top: 10%;
    }
    #menuBars {
        padding-top: 10%;
    }
    #menuBarss {
        padding-top: 10%;
    }
h6 {
    font-size: 220%;
}    
}

@media only screen and (max-width: 840px) {
    h1 {
        font-size: 3em;
        padding-left: 20%;
    }
    #menuBar {
        padding-top: 10%;
        width: 32%;
    }
    #menuBars {
        padding-top: 10%;
    }
    #menuBarss {
        padding-top: 10%;
    }
h6 {
    font-size: 200%;
}        
}

@media only screen and (max-width: 805px) {
    h1 {
        font-size: 2.5em;
        padding-left: 25%;
        letter-spacing: normal;
    }
    h2{
     font-size: 200%;
    }
    #menuBar {
        width: 30%;
        padding-top: 10%;
    }
    #menuBars {
        padding-top: 10%;
    }
    #menuBarss {
        padding-top: 10%;
    }
h6 {
    font-size: 180%;
} 
.rectangle2 {
    width: 89%;
    top:24%;
    right:5.5%;
}

.rectangle3 {
    width: 89%;
    top:83.5%;
    left:5.5%;
}

.rectangle4 {
    width: 89%;
    top:137%;
    right:5.5%;
}

.rectangle5 {
    width: 89%;
    top:186%;
    left:5.5%;
}

.rectangle6 {
    width: 89%;
    top:24%;
    right:5.5%;
}

.rectangle7 {
    width: 89%;
    top:85.5%;
    left:5.5%;
}

.rectangle8 {
    width: 89%;
    top:137%;
    right:5.5%;
}

.rectangle9 {
    width: 89%;
    top:186%;
    left:5.5%;
}

.text_images1{
    top:42%;
    left:34.5%;
}

.text_images2{
    top:100.5%;
    right:37.5%;
    height:30%;
}

.text_images3{
    top:151%;
    left:34.5%;
    height:30%;
}

.text_images4{
    top:205.5%;
    right:34.5%;
    height:30%;
}

.email_images1{    
    top:46%;
    left:34.5%;
    height:30%;
}

.email_images2{
    top:107.5%;
    right:37.5%;
    height:30%;
}

.email_images3{
    top:156%;
    left:34.5%;
    height:28%;
}

.email_images4{
    top:205.5%;
    right:34.5%;
    height:30%;
}

.footer2 {
    margin-top:42%;
    font-size: 138.1%;
}

}

@media only screen and (max-width: 715px) {
    h1 {
        font-size: 2em;
        padding-left: 25%;
        letter-spacing: normal;
    }
    #menuBar {
        padding-top: 14%;
    }
    #menuBars {
        padding-top: 14%;
    }
    #menuBarss {
        padding-top: 14%;
    }
#email {
    font-size:80%;
} 
h6 {
    font-size: 170%;
}             
}

@media only screen and (max-width: 678px) {
    h1 {
        font-size: 2em;
        padding-left: 25%;
        letter-spacing: normal;
    }
    #menuBar {
        padding-top: 14%;
        font-size:80%
    }
    #menuBars {
        padding-top: 14%;
        width:20%;
    }
    #menuBarss {
        padding-top: 14%;
    }
    #email {
    font-size:60%;
}

h6 {
    font-size: 130%;
}
}
@media only screen and (max-width: 530px) {
    h1 {
        font-size: 2em;
        letter-spacing: normal;
        padding-left: 20%;
    }
    #menuBar {
        width: 40%;
        padding-top: 12%;
    }
    #menuBars {
        padding-top: 12%;
        width:20%;
    }
    #menuBarss {
        padding-top: 12%;
        width:40%;
    }
    #email {
    font-size:60%;
    }
.rectangle2 {
    top:26%;
    right:5%;
}

.rectangle3 {
    top:96.5%;
    left:5.5%;
}

.rectangle4 {
    top:169%;
    right:5.5%;
}

.rectangle5 {
    top:238%;
    left:5.5%;
}

.rectangle6 {
    top:24%;
    right:5.5%;
}

.rectangle7 {
    top:96.5%;
    left:5.5%;
}

.rectangle8 {
    top:169%;
    right:5.5%;
}

.rectangle9 {
    top:238%;
    left:5.5%;
}

.text_images1{
    top:55%;
    left:16.5%;
}

.text_images2{
    top:128.5%;
    right:36.5%;
}

.text_images3{
    top:196%;
    left:35.5%;
}

.text_images4{
    top:255.5%;
    right:32.5%;
    margin-bottom: 10%;
}

.email_images1{
    top:62%;
    left:26.5%;
}

.email_images2{
    top:128.5%;
    right:36.5%;
}

.email_images3{
    top:198%;
    left:35.5%;
}

.email_images4{
    top:259.5%;
    right:32.5%;
    margin-bottom: 10%;
}

.credit-text-right{    
    font-size:110%;
    left:87%;
    top:138%
}

.credit-text-left{
    font-size:110%;    
    right:80%;
    top:82%
}

.credit-text-left2{ 
    font-size:110%;   
    right:80%;
    top:206%
}

.footer2 {
    margin-top:142%;
    font-size: 138.1%;
}
} 
/* sizing for different screen sizes ends*/
